<div>
<h1>Question:</h1>
  <div>
      <h3><%= question.subject %></h3>
      <h3>Posted by:<%= question.author %></h3>
      <h3><%= question.question %></h3>
  </div>
<h1>Answers:</h1>
<%=ID%>
  <form method="post" action="/addAnswer">
      Add Your Answer: <input type="text" name="answer"><br>
      <input type="submit" value="submit">
  </form>
<ol>
  <%answers.forEach(answer=>{%>
    <li><%=answer.author%></li>
    <li><%=answer.answer%></li>
    <li><%=answer.date%></li>
  <%})%>
</ol>
</div>
